<footer>

    <nav class="social">
        <span>Connect with VenDom Today!</span></br>
        <a href="www.facebook.com"><img src="/images/social/facebook.png" alt="Facebook"></a>
        <a href="www.twitter.com"><img src="/images/social/twitter.png" alt="Twitter"></a>
        <a href="www.instagram.com"><img src="/images/social/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="/images/social/email.png" alt="Email"></a>
    </nav>
    <span>Made with ❤︎ by Ashton RK Seibel</span></br>
    <span>© 2020</span>
</footer>

<!-- Scripts for Foundation -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>