<header>
    <div class="title-bar" data-responsive-toggle="mainMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="mainMenu">
        <div class="top-bar-left">
            <ul class="menu align-center">
                <!-- <img class="nav-logo" src="/images/branding/logo-img.png"> -->
                <li class="menu-text">VenDom</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Zillow</a></li>
                <li><a href="#">Truila</a></li>
                <li><a href="#">HotPads</a></li>
            </ul>
        </div>
    </div>
</header>

