<header>
    <div class="title-bar" data-responsive-toggle="mainMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="mainMenu">
        <div class="top-bar-left">
            <ul class="menu align-center">
                <li class="menu-text">VenDom</li>
                <li><a href="/vendom">Home</a></li>
                <li><a href="/vendom/about">About</a></li>
                <li><a href="https://www.zillow.com/">Zillow</a></li>
                <li><a href="https://www.trulia.com/">Truila</a></li>
                <li><a href="https://hotpads.com/">HotPads</a></li>
            </ul>
        </div>
    </div>
</header>

