<header>
    <div class="title-bar" data-responsive-toggle="mainMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="mainMenu">
        <div class="top-bar-center">
            <ul class="menu align-center">
                <li></li>
                <li class="menu-text">VenDom</li>
                <li><a href="/vendom">Home</a></li>
                <li><a href="/vendom/about">About</a></li>
                <li><a href="https://www.zillow.com/" target="_blank">Zillow</a></li>
                <li><a href="https://www.trulia.com/" target="_blank">Truila</a></li>
                <li><a href="https://hotpads.com/" target="_blank">HotPads</a></li></br>
            </ul>
            <p>Ventus Domum - "Favorite Home" in Latin</p>
        </div>
    </div>
</header>

