<header>
    <nav class="navbar">
        <!-- Change image to include name in image itself -->
        <img class="nav-logo" src="./images/branding/logo-img.png">
        <span class="nav-text">VenDom</span>
        <!-- Change these links into collapsable list -->
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Zillow</a>
        <a href="#" class="nav-link">Truila</a>
        <a href="#" class="nav-link">HotPads</a>
    </nav>
</header>