<!DOCTYPE html>
<html lang="en" class ="no-js">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <h1>Add a New Property to Your Favorites!</h1>
    <form action="/vendom" method="POST" class ="callout text-center">
        Rent or Buy? : <select name="type">
            <option value="Rent">Rent</option>
            <option value="Buy">Buy</option>
        </select></br>
        Property Nickname: <input type="text" name="nickname" placeholder="(Optional)"></br>
        Property Address: <input type="text" name="address" required placeholder="(Required)"></br>
        Image Link: <input type="text" name="img" required placeholder="(Required)"></br>
        Bedrooms: <input type="number" name="beds" required placeholder="(Required)">
        Bathrooms: <input type="number" name="baths" required placeholder="(Required)">
        Square Footage: <input type="number" name="sqft" required placeholder="(Required)"></br>
        Price ($): <input type="number" name="price" required placeholder="(Required)">
        Cost Basis: <select name="cost_basis">
            <option value="Per Month">Per Month</option>
            <option value="Purchase Price">Purchase Price</option>
        </select></br>
        Description: <input type="text" name="description" required placeholder="(Required)"></br>
        Listing URL: <input type="text" name="listing" required placeholder="(Required)"></br>
        <input type="submit" class="button hollow expanded" value="Add Property"></br>
    </form>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>