#mainMenu, ul.menu, footer {
    background-color: #139482;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    color: #07db83
}

p.lead {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    color: #07db83;
}

.callout {
    text-align: center;
    background-color: #aff0e7;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #139482
}

p.property-name {
    font-weight: bold;
    font-size: 1.5em;
}

body {
    background-color: #aff0e7;
    position: relative;
    min-height: 100vh;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #aff0e7;
}

h1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #139482;
}

a {
    color: #aff0e7
}

p {
    text-align: center;

}

p.subheader {
    color: #698771
}

