#mainMenu, ul.menu, footer {
    background-color: #139482;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    color: #07db83
}

p.lead {
    text-align: center;
}

.callout {
    text-align: center;
    background-color: #aff0e7
}

p.property-name {
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    vertical-align: center;
    text-align: center;
    padding-top: 0px;
    color: #aff0e7
}

h1 {
    text-align: center;
}

body {
    background-color: #aff0e7
}

a {
    color: #aff0e7
}

p {
    text-align: center;
}