
#mainMenu, ul.menu {
    background-color: #8a97d1;
}

p.lead {
    text-align: center;
}

.callout {
    text-align: center;
    background-color: #3f4666
}

p.property-name {
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
}